/*******RESET******/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0; }

main, li {
  display: block; }

div {
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border: none; }

td {
  padding: 0px; }

strong {
  font-weight: bold; }

a, button {
  color: inherit;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s; }

a {
  text-decoration: none; }

button {
  overflow: hidden;
  border: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

/******LAYOUT******/
@font-face {
  font-family: AmplitudeLight;
  src: url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Light.eot);
  src: url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Light.eot#iefix) format("embedded-opentype"), url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Light.woff) format("woff"), url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Light.ttf) format("truetype"), url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Light.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: AmplitudeRegular;
  src: url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Regular.eot);
  src: url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Regular.eot#iefix) format("embedded-opentype"), url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Regular.woff) format("woff"), url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Regular.ttf) format("truetype"), url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: AmplitudeMedium;
  src: url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Medium.eot);
  src: url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Medium.eot#iefix) format("embedded-opentype"), url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Medium.woff) format("woff"), url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Medium.ttf) format("truetype"), url(https://am.jpmorgan.com/baurl-gim/css/fonts/Amplitude-Medium.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

body, input, textarea, button, select {
  font-family: AmplitudeRegular, AmplitudeTF, Arial, Helvetica, sans-serif;
  color: #63666A;
  font-size: 14px; }

.header {
  background: #fff;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #EFEDEC;
  margin-bottom: 1.5em;
  z-index: 10; }
  @media (min-width: 1024px) {
    .header {
      margin: 0 auto; } }

.container {
  width: 90%;
  margin: 0px auto; }
  @media (min-width: 1024px) {
    .container {
      width: 80%;
      max-width: 920px; } }

.main {
  padding-top: 145px; }
  @media (min-width: 1024px) {
    .main {
      min-height: 400px; } }

.content {
  padding-bottom: 1.5em; }
  @media (min-width: 1024px) {
    .content {
      margin: 0 auto;
      padding-top: 1.5em; } }
  .content h3 {
    color: #ED8B00; }
  .content a {
    color: #ED8B00;
    text-decoration: underline; }
  .content p {
    margin-bottom: 1em; }
  .content ul {
    margin: 0 2em 1em; }
  .content ol {
    margin: 0 2em 1em; }
  .content li {
    display: list-item; }

.left-side {
  display: block;
  overflow: hidden;
  width: 100%; }
  @media (min-width: 1024px) {
    .left-side {
      display: inline-block;
      padding-right: 2em;
      width: 78%; } }

.side-info {
  display: block;
  overflow: hidden;
  width: 100%; }
  .side-info a {
    color: #ED8B00;
    text-decoration: underline; }
  .side-info div {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #E3E1DF; }
  @media (min-width: 1024px) {
    .side-info {
      border-top: 5px solid #006496;
      display: inline-block;
      margin: 1.5em 0;
      padding: 1em 0.4em;
      vertical-align: top;
      width: 22%; }
      .side-info div:last-child {
        border-bottom: none; } }

.contact {
  background-color: #EFEDEC;
  border-top: 5px solid #006496;
  margin-top: 1em;
  padding: 15px; }
  @media (min-width: 1024px) {
    .contact {
      margin: 0 auto;
      box-sizing: border-box;
      margin-top: 2em; } }
  .contact a {
    color: #ED8B00;
    font-weight: bold;
    text-decoration: underline; }
  .contact div {
    display: block;
    margin: 0.5em auto;
    width: 100%;
    vertical-align: text-top; }
    .contact div p:not(:first-child) {
      margin-top: 0.5em; }
    .contact div button {
      margin-top: 10px; }
    @media (min-width: 768px) {
      .contact div {
        display: inline-block;
        width: 25%; }
        .contact div:first-child {
          width: 74%; }
        .contact div p:not(:first-child) {
          display: inline-block;
          margin: 0.5em 1.5em 0.5em 0; }
        .contact div button {
          float: right; }
        .contact div:not(:first-child) a {
          float: right; } }

.disclosure {
  margin-bottom: 2em; }
  @media (min-width: 1024px) {
    .disclosure {
      margin: 0 auto 2em; } }
  .disclosure p {
    font-size: 12px;
    margin: 1em 0; }
  .disclosure a {
    text-decoration: underline; }

.img-header {
  border-top: 1px dotted #d8d3d0;
  border-bottom: 1px dotted #d8d3d0;
  padding: 0.5em;
  margin: 0 0 10px;
  text-align: center; }
  @media (min-width: 768px) {
    .img-header {
      text-align: left;
      border-top: none;
      border-bottom: 2px dotted #d8d3d0;
      padding: 0 0 0.5em; } }
  .img-header img {
    display: none;
    height: 40px;
    width: 40px;
    vertical-align: middle; }
    @media (min-width: 768px) {
      .img-header img {
        display: inline-block;
        margin-right: 2em; } }
  .img-header p {
    color: #006496;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    vertical-align: middle; }

.regular-header {
  background-color: #EFEDEC;
  color: #006496;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 10px;
  padding: 5px 20px;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 1024px) {
    .regular-header {
      text-align: left; } }

/******THEME LAYOUTS******/
#hero-img {
  display: none; }
  @media (min-width: 768px) and (max-width: 1024px) {
    #hero-img {
      display: block;
      margin-bottom: 1em; } }
  @media (min-width: 1024px) {
    #hero-img {
      display: block;
      margin-bottom: 1em;
      margin: 0 auto; } }

#main-logo {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  margin-top: 20px;
  vertical-align: top;
  max-width: 109px; }
  @media (min-width: 1024px) {
    #main-logo {
      margin-right: 2.5em; } }

#event-title {
  margin: 0;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 1024px) {
    #event-title {
      margin: 0.5em 0 0;
      text-align: left; } }
  @media (min-width: 1024px) {
    #event-title {
      margin: 1em auto 0;
      max-width: 920px;
      text-align: left; } }
  #event-title h1 {
    clear: both;
    font-weight: 300;
    font-size: 3vmin;
    margin: 0.5em 0 1em;
    white-space: nowrap; }
    @media (min-width: 768px) {
      #event-title h1 {
        font-size: 2em;
        margin: 0 0 0.5em; } }
  #event-title img {
    display: block;
    padding-bottom: 1em; }

.register-button {
  background-color: #ED8B00;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ED8B00;
  margin-bottom: 0.5em; }
  @media (min-width: 1024px) {
    .register-button {
      margin-bottom: 0; } }
  .register-button:hover {
    background: #fff;
    color: #ED8B00; }
    .register-button:hover span {
      border-right: 3px solid #ED8B00;
      border-bottom: 3px solid #ED8B00; }

#map a {
  color: #ED8B00;
  text-decoration: underline; }

@media (min-width: 768px) {
  #map {
    height: 400px;
    display: block;
    margin-bottom: 1em; } }

/******MODULES******/
.agenda p {
  margin: 0; }

.agenda table {
  color: #63666A;
  font-size: 14px;
  margin-bottom: 1em;
  width: 100%; }

.agenda td {
  padding-bottom: 3px;
  vertical-align: top;
  width: 40%; }
  .agenda td:nth-child(2) {
    padding-left: 2em;
    width: 60%; }
  @media (min-width: 768px) {
    .agenda td {
      width: 20%; }
      .agenda td:nth-child(2) {
        width: 80%; } }
  .agenda td ul li {
    display: list-item; }

.speakers div {
  border-bottom: 1px solid #E3E1DF;
  margin: 1.5em 0; }
  .speakers div:last-child {
    border: none; }
  .speakers div img {
    float: left;
    padding-right: 1em;
    width: 67px; }
    @media (min-width: 768px) {
      .speakers div img {
        display: inline-block;
        float: none;
        vertical-align: top;
        margin-bottom: 1em; } }
  .speakers div p {
    padding-bottom: 0.75em; }
    @media (min-width: 768px) {
      .speakers div p {
        display: inline-block;
        width: 80%; } }

.agenda-speakers img {
  width: 67px;
  float: left;
  margin-right: 1em; }

.agenda-speakers div {
  display: block;
  margin-bottom: 1em;
  width: 100%; }

@media (min-width: 768px) {
  .agenda-speakers div {
    display: inline-block;
    width: 49%; } }

.accordion, .accordion-build {
  box-sizing: border-box;
  border: 1px solid #E3E1DF;
  cursor: pointer;
  margin-top: 1.5em;
  padding: 0.75em 0.5em;
  width: 100%; }
  .accordion span, .accordion-build span {
    display: inline-block;
    margin: 0 0.5em 0.15em 0.5em;
    vertical-align: middle;
    -webkit-transiition: 0.75s ease-in-out;
    -moz-transiition: 0.75s ease-in-out;
    -o-transiition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out; }
    .accordion span.show, .accordion-build span.show {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  @media (min-width: 1024px) {
    .accordion, .accordion-build {
      width: 75%; } }

.panel {
  display: none;
  background: #EFEDEC;
  border-right: 1px solid #E3E1DF;
  border-left: 1px solid #E3E1DF;
  border-bottom: 1px solid #E3E1DF;
  box-sizing: border-box;
  padding: 1em; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .panel {
      padding: 1em 2.1em; } }
  @media (min-width: 1024px) {
    .panel {
      width: 75%;
      padding: 1em 2.1em; } }
  .panel p:last-child {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .multi-event-accordion {
    display: none; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .split-column {
    padding: 0 3em; } }

@media (min-width: 1024px) {
  .split-column {
    padding-left: 3em; } }

.sub-column {
  display: block;
  vertical-align: top;
  width: 100%; }
  @media (min-width: 1024px) {
    .sub-column {
      display: inline-block;
      width: 50%;
      padding-left: 2em; } }

/******NAVBAR******/
#header-content {
  margin: 0 auto;
  min-height: 4em;
  width: 90%; }
  @media (min-width: 1024px) {
    #header-content {
      max-width: 920px;
      width: 80%; } }
  #header-content button.register-button {
    margin-top: 15px;
    display: inline-block;
    float: right; }

.nav {
  display: inline-block;
  width: 100%; }
  @media (min-width: 946px) and (max-width: 1024px) {
    .nav {
      margin-top: 1em;
      width: auto; } }
  @media (min-width: 1024px) {
    .nav {
      margin-top: 1em;
      width: auto; } }
  .nav ul li {
    display: none;
    font-weight: bold;
    margin: 1em 0 0.5em; }
    .nav ul li.active {
      display: block; }
    .nav ul li a:hover {
      border-bottom: 3px solid #ED8B00; }
    @media (min-width: 946px) and (max-width: 1024px) {
      .nav ul li {
        display: inline-block;
        margin-right: 0.5em; }
        .nav ul li:not(:last-child) {
          margin-right: 0.7em;
          padding-right: 0.7em;
          border-right: 1px solid #63666A; }
        .nav ul li.active {
          display: inline-block; } }
    @media (min-width: 1024px) {
      .nav ul li {
        display: inline-block; }
        .nav ul li:not(:last-child) {
          margin-right: 0.7em;
          padding-right: 0.7em;
          border-right: 1px solid #63666A; }
        .nav ul li.active {
          display: inline-block; } }

#hamburger-menu {
  height: 20px;
  width: 2em;
  position: relative;
  margin: 0;
  padding: 0;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transiition: 0.5s ease-in-out;
  -moz-transiition: 0.5s ease-in-out;
  -o-transiition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
  #hamburger-menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #63666A;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transiition: 0.25s ease-in-out;
    -moz-transiition: 0.25s ease-in-out;
    -o-transiition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    #hamburger-menu span:nth-child(1) {
      top: 0em; }
    #hamburger-menu span:nth-child(2) {
      top: 0.5em; }
    #hamburger-menu span:nth-child(3) {
      top: 1em; }
  #hamburger-menu.menu-open span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0.5em; }
  #hamburger-menu.menu-open span:nth-child(2) {
    opacity: 0;
    left: -3em; }
  #hamburger-menu.menu-open span:nth-child(3) {
    top: 0.5em;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  @media (min-width: 946px) and (max-width: 1024px) {
    #hamburger-menu {
      display: none; } }
  @media (min-width: 1024px) {
    #hamburger-menu {
      display: none; } }

.menu-active {
  border-bottom: 3px solid #ED8B00; }

/******FORM******/
#form {
  display: none; }
  @media (min-width: 768px) and (max-width: 1024px) {
    #form {
      margin-bottom: 2em; } }
  @media (min-width: 1024px) {
    #form {
      max-width: 920px;
      margin: 0 auto;
      margin-bottom: 2em;
      padding: 1.5em 0; } }
  #form h2 {
    color: #006496; }
  #form p {
    margin-bottom: .5em; }
    #form p em {
      font-size: 12px; }
    #form p.regular-header {
      margin-bottom: 1.5em; }
  #form label {
    font-weight: bold; }
    #form label a {
      color: #ED8B00;
      text-decoration: underline;
      font-weight: 400; }
  #form input {
    width: 100%; }
    #form input[type="date"] {
      background: #fff;
      border: 1px solid #CCC;
      border-radius: 0;
      box-sizing: border-box;
      margin: 8px 0;
      padding: 12px 10px; }
    #form input[type="text"] {
      background: #fff;
      border: 1px solid #CCC;
      border-radius: 0;
      box-sizing: border-box;
      margin: 8px 0;
      padding: 12px 10px; }
    #form input[type="tel"] {
      background: #fff;
      border: 1px solid #CCC;
      border-radius: 0;
      box-sizing: border-box;
      margin: 8px 0;
      padding: 12px 10px; }
    #form input[type="submit"] {
      background: #ED8B00;
      border: 1px solid #ED8B00;
      border-radius: 0;
      box-sizing: border-box;
      margin: 8px 0;
      padding: 12px 10px;
      color: #fff;
      font-weight: bold;
      border-radius: 0px;
      -webkit-appearance: none;
      -webkit-border-radius: none;
      -webkit-transiition: 0.3s ease-in-out;
      -moz-transiition: 0.3s ease-in-out;
      -o-transiition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      @media (min-width: 768px) {
        #form input[type="submit"] {
          margin-top: 2em;
          width: 25%; } }
      #form input[type="submit"]:hover {
        background: #fff;
        color: #ED8B00; }
    #form input[type="radio"] {
      display: inline-block;
      width: 3em;
      height: 15px; }
      @media (min-width: 768px) {
        #form input[type="radio"] {
          width: 8%;
          margin: 0 1em; } }
    #form input[type="checkbox"] {
      display: none; }
      #form input[type="checkbox"] + label {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        border: 1px solid #ccc;
        padding: 0.5em;
        margin-bottom: 0.5em; }
        @media (min-width: 768px) {
          #form input[type="checkbox"] + label {
            padding: 1em; } }
      #form input[type="checkbox"]:checked + label {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        border: 1px solid #ccc;
        background-color: #ED8B00;
        padding: 0.5em;
        color: #fff;
        margin-bottom: 0.5em; }
        @media (min-width: 768px) {
          #form input[type="checkbox"]:checked + label {
            padding: 1em; } }
  #form textarea {
    width: 100%;
    resize: none;
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 0;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 12px 10px;
    -webkit-appearance: none;
    -webkit-border-radius: none; }
  #form select {
    color: #2B2B2B;
    background-color: #fff;
    background: url(http://image.gim.jpmorgan.com/lib/fe92137277640d7f72/m/1/Carrot.PNG) no-repeat 96% 0;
    height: 35px;
    overflow: hidden;
    padding: 5px 8px;
    width: 100%;
    margin: 1em 0;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #CCC;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none; }
    @media (min-width: 768px) {
      #form select {
        width: 40%;
        display: block; } }
    #form select:focus {
      outline: none; }
    #form select::-ms-expand {
      display: none; }
    @media screen and (min-width: 0 / 0) {
      #form select {
        background: none;
        padding: 5px; } }
  #form span {
    color: #E20000; }

.form-div {
  margin-bottom: 1em; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .form-div {
      margin: 0 auto;
      padding: 0 3em; } }
  @media (min-width: 1024px) {
    .form-div {
      width: 75%;
      margin: 0 auto; } }
  .form-div ul {
    margin-left: 1em; }
  .form-div .accordion-build {
    width: 100%; }
  .form-div .panel {
    width: 100%; }

@media (min-width: 768px) and (max-width: 1024px) {
  .radio-div {
    margin: 0 auto;
    padding: 0 3em; } }

@media (min-width: 1024px) {
  .radio-div {
    width: 75%;
    margin: 0 auto; } }

@media (min-width: 1024px) {
  .radio-div {
    max-width: 920px;
    margin: 0 auto;
    padding: 1em 0 0; } }

#accommodation-check {
  display: none; }

#travel-check {
  display: none; }
  #travel-check li {
    display: list-item; }

#error {
  background: #f2dEde;
  border: 1px solid #a94442;
  border-radius: 0;
  box-sizing: border-box;
  color: #a94442;
  margin: 1em auto;
  padding: 0.75em; }
  @media (min-width: 768px) and (max-width: 1024px) {
    #error {
      padding: 1em; } }
  @media (min-width: 1024px) {
    #error {
      padding: 2em; } }

/*****ANIMATION*****/
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(2000px); }
  60% {
    opacity: 1;
    transform: translateY(-10px); }
  70% {
    transform: translateY(10px); }
  80% {
    transform: translateY(-5px); }
  90% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(2000px); }
  60% {
    opacity: 1;
    transform: translateY(-10px); }
  70% {
    transform: translateY(10px); }
  80% {
    transform: translateY(-5px); }
  90% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }

@-ms-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(2000px); }
  60% {
    opacity: 1;
    transform: translateY(-10px); }
  70% {
    transform: translateY(10px); }
  80% {
    transform: translateY(-5px); }
  90% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }

@keyframes bounce {
  0%, 100%, 60%, 75%, 90% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.bounceInUp {
  -webkit-animation: bounce 1s ease-out;
  animation: bounce 0.75s ease-out; }

/******DOCUMENT CLASSES******/
.address-padding {
  padding-left: 20px; }

.chevron-arrow-white {
  display: inline-block;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.chevron-arrow-orange {
  display: inline-block;
  border-right: 2px solid #ED8B00;
  border-bottom: 2px solid #ED8B00;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.chevron-arrow-grey {
  display: inline-block;
  border-right: 2px solid #63666A;
  border-bottom: 2px solid #63666A;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.text-decoration-on {
  text-decoration: underline; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.faded-line {
  margin-top: 1.5em;
  width: 100%;
  max-height: 2em; }

.active {
  display: block; }

.orange-text {
  color: #ED8B00; }

.blue-text {
  color: #006496; }

.purple-text {
  color: #582C83; }

.olive-text {
  color: #828838; }

.dark-ash {
  color: #373741; }

.glacier-blue-text {
  color: #649099; }

.link-text {
  color: #ED8B00;
  text-decoration: underline;
  cursor: pointer; }

p.small-italic {
  font-size: 12px;
  font-style: italic;
  font-weight: 300; }

.closed-event {
  background-color: #EFEDEC;
  padding: 1em 0 1em 1em;
  margin-bottom: 1em; }
  .closed-event p {
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0 0.5em; }
  @media (min-width: 1024px) {
    .closed-event {
      margin: 2em 0 0; } }

.vanish {
  display: none; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .vanish {
      display: block; } }
  @media (min-width: 768px) {
    .vanish {
      display: block; } }

/******BRANDING CLASSES******/
.small-orange-bar {
  border-bottom: 1px solid #ED8B00;
  margin-bottom: 1em; }

.grey-bar {
  width: 100%;
  margin-bottom: 1em; }
  .grey-bar span {
    height: 8px;
    background: #63666A;
    display: block; }

.orange-grey-bar span {
  height: 8px; }
  .orange-grey-bar span:nth-child(1) {
    display: none; }
    @media (min-width: 1024px) {
      .orange-grey-bar span:nth-child(1) {
        background: #ED8B00;
        display: inline-block;
        width: 109px; } }
  .orange-grey-bar span:nth-child(2) {
    display: none; }
    @media (min-width: 1024px) {
      .orange-grey-bar span:nth-child(2) {
        background: #fff;
        display: inline-block;
        width: 10px; } }
  .orange-grey-bar span:nth-child(3) {
    background: #63666A;
    display: inline-block;
    width: 100%; }
    @media (min-width: 1024px) {
      .orange-grey-bar span:nth-child(3) {
        width: -moz-calc(100% - 119px);
        width: -webkit-calc(100% - 119px);
        width: -o-calc(100% - 119px);
        width: calc(100% - 119px);
        max-width: 801px; } }

#sortable, .sortables {
  margin: 0 0 1em; }
  #sortable li, .sortables li {
    list-style-type: none;
    padding: 1em;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box; }
    #sortable li:hover, .sortables li:hover {
      cursor: pointer; }

ul.sortables {
  margin: 0 0 1em; }

.sortables li {
  padding: 0.5em; }

.ui-sortable-placeholder {
  border: 3px dashed #aaa;
  width: 100%;
  background: #ccc; }

.nojs-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.7);
  transition: opacity 0.5s ease 0s;
  visibility: visible;
  opacity: 1;
  z-index: 100; }

.nojs-message {
  position: fixed;
  z-index: 101;
  width: 60%;
  min-width: 300px;
  left: 20%;
  top: 30%;
  padding: 20px;
  background: #fff;
  border-width: 5px 1px 1px;
  border-style: solid;
  border-color: #5E8AB4; }
  .nojs-message p {
    margin: 1em 0; }
  .nojs-message a {
    color: #00f; }

.error-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.7);
  transition: opacity 0.5s ease 0s;
  visibility: visible;
  opacity: 1;
  z-index: 100; }

.error-message {
  position: relative;
  z-index: 101;
  width: 80%;
  min-width: 250px;
  padding: 20px;
  background: #fff;
  border-width: 5px 1px 1px;
  border-style: solid;
  margin: 10em auto; }
  @media (min-width: 1024px) {
    .error-message {
      margin: 20em auto; } }
  .error-message p {
    margin: 1em 0; }

#error-menu {
  height: 2em;
  width: 2em;
  position: relative;
  margin: 4em 2em;
  float: right;
  cursor: pointer; }
  @media (min-width: 1024px) {
    #error-menu {
      margin: 14em 10em; } }
  #error-menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #63666A; }
    #error-menu span:nth-child(1) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    #error-menu span:nth-child(2) {
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }

/*# sourceMappingURL=styles.css.map */
