html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0; }

main, li {
  display: block; }

strong {
  font-weight: bold; }

a, button {
  color: inherit;
  -webkit-transiition: 0.3 ease-in-out;
  -moz-transiition: 0.3 ease-in-out;
  -o-transiition: 0.3 ease-in-out;
  transition: 0.3 ease-in-out; }

a {
  text-decoration: none; }

button {
  overflow: hidden;
  border: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

h1, h2, h3 {
  font-family: 'Cantarell', sans-serif;
  font-weight: 400;
  text-align: center; }

.nav {
  background: #dadada;
  position: fixed;
  min-height: 3em;
  width: 100%;
  z-index: 10; }

.hero {
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/10note.jpg");
  height: 175px;
  padding-top: 3em; }
  .hero h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin: 1em auto 0.25em; }
  .hero p {
    color: #fff;
    font-size: 1.1em;
    text-align: center; }

.container {
  padding: 3em 1.5em; }
  .container p {
    margin: 1em 0; }
    .container p.info {
      font-style: italic;
      text-align: center; }

.CTA {
  padding: 0 1.5em;
  margin-top: 1em; }
  .CTA h1, .CTA h2 {
    color: #0066FF; }

.nav ul {
  float: left;
  overflow: hidden;
  width: 100%; }

.nav li {
  display: none; }
  .nav li.menu-open {
    display: block; }

.nav a {
  color: #000;
  display: block;
  padding: 14px 16px;
  text-align: left;
  font-size: 17px; }
  .nav a:hover {
    background: #cecece; }
  .nav a.current {
    background: #c1c1c1; }

#hamburger-menu {
  height: 2em;
  width: 2em;
  margin: 0.75em 1em 0;
  padding: 0;
  position: relative;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transiition: 0.5s ease-in-out;
  -moz-transiition: 0.5s ease-in-out;
  -o-transiition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
  #hamburger-menu span {
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    background: #57595d;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transiition: 0.25s ease-in-out;
    -moz-transiition: 0.25s ease-in-out;
    -o-transiition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    #hamburger-menu span:nth-child(1) {
      top: 0em; }
    #hamburger-menu span:nth-child(2) {
      top: 0.5em; }
    #hamburger-menu span:nth-child(3) {
      top: 1em; }
  #hamburger-menu.menu-open span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0.5em; }
  #hamburger-menu.menu-open span:nth-child(2) {
    opacity: 0;
    left: -3em; }
  #hamburger-menu.menu-open span:nth-child(3) {
    top: 0.5em;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.secondary {
  margin: 1em auto; }
  .secondary div {
    margin-top: 1em;
    text-align: center; }

#aboutus {
  background: #f0f8ff; }

#appraisals {
  background: #f4f4f4; }

#contact {
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/james-monroe.jpg"); }
  #contact p {
    color: #fff; }

.form {
  margin: 1.5em 0; }
  .form label {
    display: block;
    color: #fff;
    padding-bottom: 0.5em; }
  .form input {
    box-sizing: border-box;
    height: 4em;
    width: 100%;
    border-radius: 7px;
    font-size: 14px;
    padding: 1.5em 0.7em;
    border: none;
    -webkit-appearance: none; }
    .form input[type="submit"] {
      background: #3E8F3E;
      color: #fff; }
  .form textarea {
    box-sizing: border-box;
    height: 7em;
    width: 100%;
    border-radius: 7px;
    font-size: 14px;
    padding: 1.5em 0.7em;
    border: none;
    -webkit-appearance: none; }

.alert-success {
  box-sizing: border-box;
  height: 3em;
  width: 80%;
  border-radius: 7px;
  font-size: 14px;
  padding: 5px 0.7em;
  border: none;
  -webkit-appearance: none;
  background: #3e8f3e;
  border: none;
  color: #fff;
  margin: 0 auto; }

.alert-danger {
  box-sizing: border-box;
  height: 3em;
  width: 80%;
  border-radius: 7px;
  font-size: 14px;
  padding: 5px 0.7em;
  border: none;
  -webkit-appearance: none;
  background: #e4b9b9;
  border: none;
  color: #888;
  margin: 0 auto; }

/*# sourceMappingURL=styles.css.map */
