.form{

	margin: 1.5em 0;

	label{
		display: block;
		color: #fff;
		padding-bottom: 0.5em;
	}

	input{
		@include formControl(4em, 100%, 1.5em);

		&[type="submit"]{
			background: #3E8F3E;
			color: #fff;
		}

	}

	textarea{
		@include formControl(7em, 100%, 1.5em);
	}

}

.alert-success{
	@include formControl(3em, 80%, 5px);
	@include alert($success, #fff);
	margin: 0 auto;
}

.alert-danger{
	@include formControl(3em, 80%, 5px);
	@include alert($danger, #888);
	margin: 0 auto;
}