body{
	font-family: 'Roboto', sans-serif;;
	font-size: 14px;
}

h1, h2, h3{
	font-family: 'Cantarell', sans-serif;
	font-weight:400;
	text-align: center;
}

//nav positioning 
.nav {
	background: $grey;
	position: fixed;
	min-height: 3em;
	width: 100%;
	z-index: 10;
}

.hero{
	@include imageHandler;
	background-image: url('../img/10note.jpg');
	height: 175px;
	padding-top: 3em;
	h1{
		color: #fff;
		font-size: 40px;
		font-weight: 400;
		margin: 1em auto 0.25em;
	}

	p{
		color: #fff;
		font-size: 1.1em;
		text-align: center;
	}
}

.container{
	padding: 3em 1.5em;

	p{
		margin: 1em 0;
	
		&.info{
			font-style: italic;
			text-align: center;
		}
	}
}

.CTA{
	padding: 0 1.5em;
	margin-top:1em;
	h1, h2{
		color: $bodyText;
	}
}


