@import 'mixin';

.hero{
	@include imageHandler;
	background-image:url("../img/10note.jpg");
	height:225px;
	font-family: $heroText;

	@media screen and (min-width:$largeBreak){
		height: 275px;
	}
	h1, p{
		position: relative;
		color: #fff;
	}

	h1{
		padding-top: 2em;
		font-weight: 600;
		font-size: 36px;

		@media screen and (min-width:$largeBreak){
			padding-top:2.5em;
			font-size: 42px;
		}
	}
	p{
		padding-top:1em;
	}
}

.CTA{
	background:#fff;
	@include contentPage;
	@include infoBreak;

	h1{
		color: $bodyText;
		padding-top:1.5em;
	}
}

.about-us{
	background:#F0F8FF;
	@include contentPage;
	@include infoBreak;
}

.appraisals{
	background: $bodyColor;
	@include contentPage;
	@include infoBreak;
}

.contact-us{
	@include imageHandler;
	background-image:url('../img/james-monroe.jpg');
	@include contentPage;
	padding: 0;
	color: #fff;
}
