.nav{
    ul{
        float: left;
        overflow: hidden;
        width: 100%;
    }

    li{
        display: none;
        &.menu-open{
            display: block;
        }
    }

    a{
        color: #000;
        display: block;
        padding: 14px 16px;
        text-align: left;
        font-size: 17px;

        &:hover{
            background: darken($grey, 5%);
        }

        &.current{
            background: darken($grey, 10%);
        }
    }
}

#hamburger-menu{
    height: 2em;
    width: 2em;
    margin: 0.75em 1em 0;
    padding: 0;
    position: relative;
    float: right;
    @include animationRotate(0deg);
    @include animationTime(0.5s);

    span{
        display: block;
        height: 4px;
        width: 100%;
        position: absolute;
        background: $spanColor;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        @include animationRotate(0deg);
        @include animationTime(0.25s);

        &:nth-child(1){top: 0em;}
        &:nth-child(2){top: 0.5em;}
        &:nth-child(3){top: 1em;}
    }

    //Animation
    &.menu-open{
        span{
            &:nth-child(1){
                @include animationRotate(135deg);
                top: 0.5em;
            }
            &:nth-child(2){
                opacity: 0;
                left: -3em;
            }
            &:nth-child(3){
                top: 0.5em;
                @include animationRotate(-135deg);
            }
        }
    }
}