@import 'mixin';

.secondary{
	@media screen and (min-width:$columnBreak){
			padding-top: 2em;
		}
		
	a{
		text-decoration: none;
		color: inherit;
		@include lead;
	}

	h2{
		color: $bodyText;
	}

	.address{
		@include columnBreak;
	}

	.open-hours{
		margin-top: 1.5em;
		@include columnBreak;
	}

	.phone{
		@include columnBreak;

	}
}

