.secondary{
	margin: 1em auto;
	div{
		margin-top: 1em;
		text-align: center;
	}
}

#aboutus{
	background: $lightBlue;
}

#appraisals{
	background: $bodyColor;
}

#contact{
	@include imageHandler;
	background-image: url('../img/james-monroe.jpg');
	p{
		color: #fff;
	}
}
