$grey: darken(#e7e7e7, 5%);
$bodyColor:lighten(#e7e7e7, 5%);
$fullPerCent: 100%;
$smallBreak: 550px;
$largeBreak: 800px;
$columnBreak:1034px;
$heroText:'Raleway', sans-serif;
$bodyText: #0066FF;
$success:  #3e8f3e;
$danger: darken(#f2dede,10%);