$grey: darken(#e7e7e7, 5%);
$bodyColor:lighten(#e7e7e7, 5%);
$lightBlue: #f0f8ff;
$fullPerCent: 100%;
$smallBreak: 667px;
$largeBreak: 800px;
$columnBreak:1034px;
$bodyText: #0066FF;
$success:  #3e8f3e;
$danger: darken(#f2dede,10%);
$spanColor: darken(#63666A, 5%);
